
@{
    ViewBag.Title = "Create";
}

<h2>Create Participant</h2>
<form method="post">
    <h3>Name</h3>
    <input type="text" name="Name" placeholder="Particpant's Name" class="form-control" value="@Model.Name" /><br />

    <h3>Date</h3>
    <input type="date" name="Contact" placeholder="Particpant's Date" class="form-control" /><br />

    <input type="submit" value="ADD" class="btn btn-success" />

</form>

