
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form  method="post">
    <input type="text" name="ChannelName" placeholder="Channel Name" class="form-control"/><br />
    <input type="number" name="EstablishedYear" placeholder="Established Year" class="form-control" /><br />
    <input type="text" name="Country" placeholder="Country" class="form-control" /><br />

    <input type="submit" value="Add" class="btn btn-outline-success"/>
</form>

